.social_img{
    height: 55px;
    width: 100px;
    margin-top: 1%;
}
.social_div{
    margin: 0%;
    margin-top: 1%;
   
}

.footers_div{
    
    color: white;
    font-size: 20px;
  
}
.bg_green{
    background-color: #008060;
    margin: 0%;
    margin-top: -2%;
}